/*** Useful bits of CSS code ***/

/* removes <select> icons from Firefox browser */

select {
    -moz-appearance: none;
}

/* keeps menu properties whilst hovering over submenu. Replace .nav-primary with your menu name */
.nav-primary ul li:hover > a {
  /* add original properties here */
}

/* removes auto hyphens */
.site-content article { word-wrap: normal; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; }
.widget-area .widget { word-wrap: normal; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; }
